@model Grid.Features.TicketDesk.ViewModels.CreateTicketViewModel

<h2>Create Ticket</h2>

<ticketupdate></ticketupdate>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}
