@model Grid.Features.TicketDesk.ViewModels.TicketSearchViewModel

<h2>Manage Tickets</h2>

<ticketslist></ticketslist>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}