@model Grid.Features.TicketDesk.ViewModels.TicketSearchViewModel

<h2>My Tickets</h2>
<myticketslist></myticketslist>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}