@model Grid.Features.KBS.ViewModels.NewArticleViewModel

<h2>Create Article</h2>

<articleupdate></articleupdate>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}