@model Grid.Features.KBS.ViewModels.ArticleSearchViewModel

<h2>Knowledge Base Articles</h2>

<knowledgebase></knowledgebase>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}