@model IEnumerable<Grid.Features.KBS.Entities.Article>

<h2>Manage Articles</h2>
<articlelist></articlelist>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}