################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AccessLogTest
/src/Grid/obj
/src/Grid/bin
/src/Grid.AccessLogs/obj
/src/Grid.AccessLogs/bin
/src/Grid.Api/bin
/src/Grid.Api/obj
/src/Grid.Api.Infrastructure/obj
/src/Grid.Api.Infrastructure/bin
/src/Grid.Clients.ITSync/obj
/src/Grid.Clients.ITSync/bin
/src/Grid.Data/bin
/src/Grid.Data/obj
/src/Grid.Features.Attendance/obj
/src/Grid.Features.Attendance/bin
/src/Grid.Features.Auth/obj
/src/Grid.Features.Auth/bin
/src/Grid.Features.Calendar/obj
/src/Grid.Features.Calendar/bin/Debug
/src/GridTestConsole/obj
/src/GridTestConsole/bin/Debug
/src/Grid.Providers.Social/obj
/src/Grid.Providers.Social/bin
/src/Grid.Providers.Slack/obj
/src/Grid.Providers.Slack/bin
/src/Grid.Features.Accounting/obj
/src/Grid.Features.Accounting/bin/Debug
/src/Grid.Features.EmailService
/src/Grid.Features.DMS
/src/Grid.Features.CRM
/src/Grid.Features.Common
/src/Grid.Features.Feedback
/src/Grid.Providers.Plugin
/src/Grid.Providers.Email
/src/Grid.Providers.Blob
/src/Grid.Infrastructure
/src/Grid.Generic.Api/bin
/src/Grid.Generic.Api/obj
/src/Grid.Features.Social
/src/Grid.Features.TicketDesk
/src/Grid.Features.HRMS
/src/Grid.Features.IMS
/src/Grid.Features.IT
/src/Grid.Features.KBS
/src/Grid.Features.LMS
/src/Grid.Features.Payroll
/src/Grid.Features.PMS/bin
/src/Grid.Features.PMS/obj
/src/Grid.Features.Recruit
/src/Grid.Features.RMS
/src/Grid.Features.Scheduler
/src/Grid.Features.Settings
