@model Grid.Features.HRMS.Entities.Certification

<h2>Create Certification</h2>

<certificationupdate></certificationupdate>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}
