@model Grid.Features.KBS.Entities.Category

<h2>Create Category</h2>

<categoryupdate></categoryupdate>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}
