@model IList<Grid.Areas.Templates.Models.UIField>

<div class="text-right">
    <button class="btn btn-primary" style="margin-top:12px;" data-bind="click:create"> Create</button>
</div>
<div id="list-template">
    <table class="table table-responsive table-hover" data-bind="loadingWhen: isBusy">
        <thead>
            <tr>
                @foreach (var field in Model)
                {
                    <th>@field.Title</th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: data">
            <tr>
                @foreach (var field in Model)
                {
                    <td data-bind="@field.GetReadOnlyBinding(): @field.Name"></td>
                }
                <td>
                    <input type="hidden" name="Id" data-bind="value: Id" />
                    <a class="btn btn-primary" href="#" aria-label="Details" data-bind="click:$parent.details"><i class="fa fa-info" aria-hidden="true"></i></a>
                    @if (ViewBag.Mode == "Manage")
                    {
                        <a class="btn btn-primary" href="#" aria-label="Edit" data-bind="visible:$parent.manageList,click:$parent.edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a class="btn btn-danger" href="#" aria-label="Delete" data-bind="visible:$parent.manageList,click:$parent.delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    }                  
                </td>
            </tr>
        </tbody>
    </table>
</div>




