@model Grid.Features.Recruit.ViewModels.JobOpeningViewModel


<h2>Create Job Opening</h2>

<jobopeningupdate></jobopeningupdate>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}
