@model Grid.Features.RMS.Entities.RequirementCategory

<h2>Create Requirement Category</h2>


<requirementcategoryupdate></requirementcategoryupdate>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}
