@model  Grid.Features.PMS.ViewModels.CreateTaskViewModel

<h2>Create Task</h2>

<taskupdate></taskupdate>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}