@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #6bceed;
}

body {
  overflow: hidden;
}

.cliff_scene {
  position: absolute;
  bottom: -5%;
  left: 50%;
  -webkit-transform: translate(-94%, 10px);
          transform: translate(-94%, 10px);
}

#cliff {
  width: 2700px;
}

.navigation_scene {
  padding: 40px 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 400;
  font-size: 14rem;
  color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.navigation_scene span {
  position: absolute;
  font-weight: 600;
  font-size: 1.2rem;
  color: black;
  top: 20px;
}

#cloud_one {
  position: absolute;
  z-index: -10;
  width: 600px;
  top: 6%;
  left: -500px;
}

#cloud_two {
  position: absolute;
  z-index: -10;
  width: 500px;
  bottom: 25%;
  right: 20px;
}

.btn {
  position: absolute;
  font-size: 1rem;
  right: -140px;
  bottom: 80px;
  text-align: center;
}
.btn_back {
  cursor: pointer;
  width: 120px;
  margin: 10px;
  display: block;
  background: #e53c3c;
  padding: 10px 20px;
  color: black;
  border-radius: 6px;
  font-weight: 400;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_back:hover {
  background: #d21c1c;
}
.btn_search {
  cursor: pointer;
  width: 80px;
  margin: 10px;
  display: block;
  background: #4e6687;
  padding: 10px 20px;
  color: black;
  border-radius: 6px;
  font-weight: 400;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_search:hover {
  background: #293546;
}

.car {
  position: absolute;
  top: 200px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  right: -180px;
  width: 340px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: pendulum  4s infinite ease-in-out;
          animation: pendulum  4s infinite ease-in-out;
}

.crash {
  position: absolute;
  top: 200px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  right: -180px;
  width: 340px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: fall  1.5s forwards ease-in-out;
          animation: fall  1.5s forwards ease-in-out;
}

@-webkit-keyframes pendulum {
  50% {
    -webkit-transform: rotate(24deg);
            transform: rotate(24deg);
  }
}

@keyframes pendulum {
  50% {
    -webkit-transform: rotate(24deg);
            transform: rotate(24deg);
  }
}
@-webkit-keyframes fall {
  40% {
    -webkit-transform: translateY(50px) translateX(20px) rotate(100deg);
            transform: translateY(50px) translateX(20px) rotate(100deg);
  }
  80%,100% {
    -webkit-transform: translateY(600px) rotate(-180deg);
            transform: translateY(600px) rotate(-180deg);
  }
}
@keyframes fall {
  40% {
    -webkit-transform: translateY(50px) translateX(20px) rotate(100deg);
            transform: translateY(50px) translateX(20px) rotate(100deg);
  }
  80%,100% {
    -webkit-transform: translateY(600px) rotate(-180deg);
            transform: translateY(600px) rotate(-180deg);
  }
}