<div class="card" data-bind="template:{name:templateName}"></div>
<script type="text/html" id="@ViewBag.Name-form-template">
    <div class="marT-5 well">
        <div data-bind="loadingWhen: isBusy">
            <div class="form-horizontal " data-bind="with: selectedData">
                <div class="row">
                    <div class="clearfix"></div>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label col-sm-4">Project</label>
                    <div class="col-sm-8">
                        <dropdown-list params="entity: 'activeproject',selectedValue: projectId,caption: 'Choose Project'"></dropdown-list>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Assignee</label>
                    <div class="col-sm-8">
                        <dropdown-list params="entity: 'employee',selectedValue: assigneeId,caption: 'Choose Assignee'"></dropdown-list>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Title</label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control " name="Title" data-bind="value: title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Description</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="description" data-bind="value: description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 ">Expected Effort</label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control " name="Title" data-bind="value: expectedTime">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Start Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="date" placeholder="Enter Start Date" data-bind="datepicker: startDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Due Date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="date" placeholder="Enter End Date" data-bind="datepicker: dueDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Status</label>
                    <div class="col-sm-8">
                        <dropdown-list params="entity: 'taskstatus',selectedValue: taskStatus,caption: 'Choose Status'"></dropdown-list>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Billing</label>
                    <div class="col-sm-8">
                        <dropdown-list params="entity: 'taskbilling',selectedValue: taskBilling,caption: 'Choose Billing'"></dropdown-list>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Priority</label>
                    <div class="col-sm-8">
                        <dropdown-list params="entity: 'priority',selectedValue: priority,caption: 'Choose Priority'"></dropdown-list>
                    </div>
                </div>
                <input type="hidden" name="id" data-bind="value: id" />
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <div data-bind="visible:$parent.mode()=='create'">
                            <button type="button" class="btn btn-primary" data-bind="click:$parent.save,ladda:$parent.isBusy">Save</button>
                        </div>
                        <div data-bind="if:$parent.mode()=='edit'">
                            <button type="button" class="btn btn-primary" data-bind="click:$parent.save,ladda:$parent.isBusy">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>



@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}
