<div class="btn-group pull-right" role="group">
    <a href="#" class="btn btn-primary" data-bind="click:edit">Edit</a>
    <a href="#" class="btn btn-primary" data-bind="click:edit">Add Document</a>
    <a href="#" id="addInterviewButton" class="btn btn-primary" data-toggle="modal" data-target="#addInterview">Add Interview</a>
    <a href="#" id="changeStatus" class="btn btn-primary" data-toggle="modal" data-target="#addNoteModal">Add Note</a>
</div>

<h2 data-bind="text: selected.Title"></h2>

<div>
    <hr />

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#info" aria-controls="home" role="tab" data-toggle="tab">Info</a></li>
        <li role="presentation"><a href="#documents" aria-controls="home" role="tab" data-toggle="tab">Documents</a></li>
        <li role="presentation"><a href="#notes" aria-controls="home" role="tab" data-toggle="tab">Notes & Activity</a></li>
        <li role="presentation"><a href="#interviews" aria-controls="home" role="tab" data-toggle="tab">Interviews</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="info">
            <br />
            <dl class="dl-horizontal">
            <dt>
                RecievedOn
            </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.RecievedOn)*@
                </dd>
                <dt>
                    Code
                </dt>
                <dd>
                    @*@Html.DisplayFor(model => model.Code)*@
                </dd>
                <dt>
                    Status
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Status)*@
                </dd>

                <dt>
                    Source
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Source)*@
                </dd>

                <dt>
                    First Name
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.FirstName)*@
                </dd>

                <dt>
                    Last Name
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.LastName)*@
                </dd>

                <dt>
                    Gender
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.Gender)*@
                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.Email)*@
                </dd>

                <dt>
                    Secondary Email
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.SecondaryEmail)*@
                </dd>

                <dt>
                    Phone No
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.PhoneNo)*@
                </dd>

                <dt>
                    Office Phone
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.OfficePhone)*@
                </dd>

                <dt>
                    Skype
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.Skype)*@
                </dd>

                <dt>
                    Facebook
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.Facebook)*@
                </dd>

                <dt>
                    Twitter
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.Twitter)*@
                </dd>

                <dt>
                    Google Plus
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.GooglePlus)*@
                </dd>

                <dt>
                    Linked In
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.LinkedIn)*@
                </dd>

                <dt>
                    Organization
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.Organization)*@
                </dd>

                <dt>
                    Designation
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.Designation)*@
                </dd>
                <dt>
                    Address
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.Address)*@
                </dd>

                <dt>
                    CommunicationAddress
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.CommunicationAddress)*@
                </dd>

                <dt>
                    DateOfBirth
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Person.DateOfBirth)*@
                </dd>

                <dt>
                    Qualification
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Qualification)*@
                </dd>

                <dt>
                    TotalExperience
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.TotalExperience)*@
                </dd>

                <dt>
                    ResumePath
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.ResumePath)*@
                </dd>

                <dt>
                    PhotoPath
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.PhotoPath)*@
                </dd>

                <dt>
                    CurrentCTC
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.CurrentCTC)*@
                </dd>

                <dt>
                    ExpectedCTC
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.ExpectedCTC)*@
                </dd>

                <dt>
                    Comments
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Comments)*@
                </dd>

            </dl>
        </div>
        <div role="tabpanel" class="tab-pane" id="documents">
            <br />
            <table class="table">
                <tr>
                    <th>
                        Document Type
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Created On
                    </th>
                    <th></th>
                </tr>
            </table>

        </div>
        <div role="tabpanel" class="tab-pane" id="notes">
            <br />
            <div class="timeline timeline-left gray-blue" data-bind="foreach: activities">
                <!-- Main element container -->
                <div class="timeline-block">
                    <!-- Single block -->
                    <div class="timeline-icon timeline-icon-hide-border">
                        <i class="fa fa-clock-o fa-lg"></i>
                    </div>
                    <div class="timeline-content">
                        <h4 data-bind="text: Title"></h4>
                        <p data-bind="html: Comment"></p>
                        <div class="timeline-date" data-bind="text: CreatedOn"></div> <!-- Date -->
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="interviews">
            <br />
            <table class="table">
                <tr>
                    <th>
                        Scheduled On
                    </th>
                    <th>
                        Interviewer
                    </th>
                    <th>
                        Round
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>

            </table>

        </div>
    </div>
</div>
<style>
    .btn-delete {
        width: 25px;
        height: 25px;
        padding: 2px 2px;
        font-size: 13px;
        line-height: 1.33;
        border-radius: 25px;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Activity</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" id="newNoteTitle" class="form-control" value="Note" />
                    </div>
                    <div class="form-group">
                        <textarea id="newNote" class="form-control htmlEditor"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: addNewNote">Submit</button>
            </div>
        </div>
    </div>
</div>





