@model  Grid.Features.PMS.ViewModels.Project.NewProjectViewModel

<h2>Create Project</h2>

<projectupdate></projectupdate>

@section Scripts{
    <script>
        $(function () {
            ko.applyBindings();
        });
    </script>
}
