@using Grid.Infrastructure
@using Grid.Infrastructure.Extensions

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="metr">
                <a href="/PMS/Project">
                    <div class="metrostyle metrostylelarge reemetro">
                        <span class="marT marR-180"><span class="text-white">Projects</span></span>
                    </div>
                </a>
                <a href="/PMS/Tasks">
                    <div class="metrostyle metrostylelarge boometro">
                        <span class="marT marR-120"><span class="text-white">Tasks</span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>